/* --- Importation de typographie --- */ 

/* Monoton */
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root {

/* Couleur */
    --color-primary: #118AB2;
    --color-secondary: #06D6A0;
    --color-accent: #FFD166;

    --color-text-green: #1A2E1A;
    --color-text-blue: #073B4C;

    --color-bg-dark: #073B4C;
    --color-image: #D9D9D9;
    --color-border: #E6E6E6;

    --color-white: #ffffff;
    --color-black: #000000;

/* Police */
    --font-display: "Monoton";
    --font-body: "Roboto", sans-serif;

/* Typographie */
    --font-size-sm: 14px;
    --font-size-base: 16px;
    --font-size-lg: 20px;
    --font-size-xl: 24px;
    --font-size-xxl: 32px;

/* Bordure */
    --radius-sm: 4px;
    --radius-md: 5px;
    --radius-lg: 6px;
    --radius-xl: 8px;

/* Espacement */
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 40px;
    --spacing-xxl: 60px;
}


/* ===== PROPRIÉTÉS RÉPÉTÉES ===== */

/* Alignment */
.text--center {
    text-align: center;
}

/* Poids de police */
.text--bold {
    font-weight: bold;
}

.text--medium {
    font-weight: 500;
}

/* Couleur de texte */
.text--primary {
    color: var(--color-primary);
}

.text--blue {
    color: var(--color-text-blue);
}

.text--white {
    color: var(--color-white)
}

.text--black {
    color: var(--color-black);
}


/** 
* Composantes
*
* Utilisation :
* <button class="button button--yellow">...</button>
* <h2 class="title"></h2>
* <p class="subtitle"></p>
*
*Éléments : 
* button : Bouton
* title : Titre de section
* subtitle : Sous-titre de section
*
* Variantes : 
* button--yellow : Bouton Jaune
* hero__button : Bouton du section Hero
* hero__button--primary : Bouton du section Hero avec couleur primary
* hero__button--secondary : Bouton du section Hero avec couleur noire
* contact__button : Bouton du section Contact
* contact__button--primary : Bouton du section Contact avec couleur bg dark
* contact__button--secondary : Bouton du section Contact avec couleur blanche
*/



.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    font-size: var(--font-size-base);
}

.title {
    font-family: var(--font-display);
    font-size: var(--font-size-xl);
    font-weight: normal;
}

.subtitle {
    font-size: var(--font-size-base);
    margin: 0;
}


/* ===== SÉLECTEUR UNIVERSEL ===== */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--color-white);
    font-family: var(--font-body);
    /* Width original de la maquette: 1499px; */
}


/** 
* nav - Barre de navigation principale
*
* Utilisation :
* <div class="nav">
*   <div class="nav__logo">
*       <div class="nav__logo-top">...</div> 
*       <div class="nav__logo-bottom">...</div>
*   </div>
*   <nav class="nav__menu">
*       <ul class="nav__list">
*           <li><a class="nav__link text--white text--md" href="#">...</a></li>
*       </ul>
*   </nav>
*   <button class="button button--yellow">...</button>
* </div>
*
* Éléments : 
* nav__logo : Contenant pour le logo
* nav__list : Layout pour les liens
* nav__link : Lien vers les pages
*/

/* Contenant */
.nav {
    background: var(--color-bg-dark);
    display: flex;
    height: 80px;
    padding: var(--spacing-sm) var(--spacing-xxl);

    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

/* Logo */
.nav__logo {
    display: flex;
    padding: var(--spacing-sm) var(--spacing-xxs) 0 var(--spacing-xxs);
    border-radius: var(--radius-sm);
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav__logo-top {
    color: var(--color-secondary);
    text-shadow: 0 0 var(--spacing-xxs) var(--color-white);
    font-family: var(--font-display);
    font-size: var(--font-size-xxl);
    line-height: 22px; /* 68.75% */
}

.nav__logo-bottom {
    color: var(--color-secondary);
    font-size: var(--font-size-base);
    font-weight: bold;
    letter-spacing: 1.5px;
}


/* Contenant pour les liens */
.nav__list {
    display: flex;
    padding: 2px var(--spacing-lg);
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-lg);
    width: 100%;
    list-style-type: none;
}

.nav__link {
    color: var(--color-white);
    font-size: var(--font-size-base);
    text-decoration: none;
}

/* Variante - Bouton Jaune "Obtenez vos billets" */
.button--yellow {
    border-radius: var(--radius-sm);
    background-color: var(--color-accent);
    padding: var(--spacing-sm) var(--spacing-md);
    color: var(--color-text-green);
    font-size: var(--font-size-sm);
}

/** 
* hero - Section du Hero
*
* Utilisation :
* <div>
*   <div class="hero__image-container">
*       <img src="" class="hero__image" alt="">
*   </div>
*   <div class="hero__container">
*       <h1 class="hero__title text--white">...</h1>
*       <p class="hero__subtitle text--white text--bold">...</p>
*   </div>
*   <div class="hero__button-container">
*       <button class="button hero__button hero__button--secondary">...</button>
*       <button class="button hero__button hero__button--primary">...</button>
*   </div>
* </div>
*
* Éléments : 
* hero__image : Image de l'arrière plan
* hero__title : Titre du hero
* hero__subtitle : Sous-titre du Hero
*/

.hero {
    position: relative;
    display: flex;
    min-height: 729px;
    align-items: center;
    padding: var(--spacing-xxl);
    gap: var(--spacing-xxl);
}

/* Image arrière plan */
.hero__image-container {
    inset: 0;
    z-index: -1;
    position: absolute;
}

.hero__image {
    width: 100%;
    height: 100%;
}

/* Contenu du hero */
.hero__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.hero__title {
    color: var(--color-white);
    text-shadow: 0 0 5.7px var(--color-secondary), 0 0 33.9px var(--color-secondary);
    font-family: var(--font-display);
    font-size: 64px;
    font-weight: normal;
    margin: 0;
}

.hero__subtitle {
    color: var(--color-white);
    font-size: var(--font-size-xl);
    font-weight: bold;
    margin-top: 0;
    margin-bottom: var(--spacing-lg);
}

.hero__button-container {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 12px;
    flex-wrap: wrap;
}

.hero__button {
    width: 240px;
    border-radius: var(--radius-xl);
    color: var(--color-white);
    font-size: var(--font-size-base);
    font-weight: 500;
    line-height: 24px; /* 150% */
}

/* Variante - Bouton Bleu du Hero */
.hero__button--primary {
    background: var(--color-primary);
}

/* Variante - Bouton Noir du Hero */
.hero__button--secondary {
    border: 1px solid var(--color-white);
    background: var(--color-black);
}

/** 
* program - Section de Programmation
*
* Utilisation :
* <article class="program__card">
*   <div class="program__image-container">
*       <div class="program__image"></div>
*       <span class="program__badge">...</span>
*       <p class="program__image-text text--center text--black">...</p>
*   </div>
*   <div class="program__content">
*       <h3 class="program__day text--blue">...</h3>
*       <p class="program__desc text--primary">...</p>
*   </div>
* </article>
*
* Éléments : 
* program__card : Carte de programmation
* program__image : Bloc placeholder pour l'image
* program__day : Titre de la carte
* program__desc : Description de la carte
*/

/* Contenant */
.program {
    display: flex;
    padding: var(--spacing-xxl);
    width: 100%;
    margin: 0 auto;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-xxl);
}

.program__layout {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-xl);
    width: 100%;
}

/* Carte de programmation - Composante */
.program__card {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 33%;

    border-radius: var(--spacing-xxs) var(--spacing-xxs) 0 0;
    border: 1px solid var(--color-border);
}

/* Contenant de l'image */
.program__image-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.program__image {
    width: 100%;
    height: 340px;
    background-color: var(--color-image);
    border-radius: var(--spacing-xxs) var(--spacing-xxs) 0 0;
}

.program__image-text {
    position: absolute;
    z-index: 1;
    font-size: 12px;
}

.program__badge {
    padding: 4px var(--spacing-sm);
    border-radius: var(--spacing-xxs) 0;

    position: absolute;
    top: 0%;
    left: 0%;

    background: var(--color-accent);
    color: var(--color-black);
    font-size: 12px;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
}

/* Contenu en texte */
.program__content {
    display: flex;
    padding-left: 12px;
    flex-direction: column;

    width: 100%;
    flex-grow: 1;
}

.program__day {
    margin-bottom: 0;
    margin-top: 12px;
    font-size: var(--font-size-lg);
    font-weight: normal;
}

.program__desc {
    margin-top: 12px;
    font-size: var(--font-size-base);
}


/** 
* schedule - Section d'Horaire
*
* Utilisation :
* <article class="schedule__card">
*    <div class="schedule__image-container">
*        <img class="schedule__image" src="" alt="">
*    </div>
*    <div class="schedule__content">
*        <h3 class="schedule__day text--blue">...</h3>
*        <p class="schedule__desc">...</p>
*    </div>
* </article>
*
* Éléments : 
* schedule__card : Carte de l'horaire
* schedule__image : Image de l'horaire
* schedule__day : Titre de la carte
* schedule__desc : Description de la carte
*/

.schedule {
    background: var(--color-primary);
    display: flex;
    padding: var(--spacing-xxl) 170px;
    justify-content: flex-start;
    gap: var(--spacing-xxl);
}

.schedule__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
}

.schedule__layout {
    display: flex;
    padding: var(--spacing-lg) 0;
    flex-direction: column;
    gap: var(--spacing-xl);
    flex: 1 1 auto;
}

/* Carte d'Horaire - Composante */
.schedule__card {
    display: flex;
    flex-direction: row;
    padding: var(--spacing-md);
    flex-grow: 0;
    
    height: 132px;

    border-radius: var(--radius-lg);
    border: 1px solid var(--color-border);
    background: var(--color-white);
}

/* Contenant de l'image */
.schedule__image-container {
    display: flex;
    width: 100px;
    height: 100px;
}

.schedule__image {
    border-radius: var(--radius-sm);
}

/* Contenant en texte */
.schedule__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: var(--spacing-md);
    width: 100%;
}

.schedule__day {
    font-size: var(--font-size-lg);
    margin-bottom: 0;
    margin-top: 0;
}

.schedule__desc {
    font-size: var(--font-size-base);
}


/** 
* artist - Section d'Artiste
*
* Utilisation :
* <article class="artist__card">
*    <div class="artist__image-container">
*        <div class="artist__image"></div>
*        <p class="artist__image-text text--black">Artiste 2</p>
*    </div>
*    <div class="artist__content">
*        <h3 class="artist__name text--blue">George l'artiste émergeant très prometteur</h3>
*        <p class="artist__desc text--primary">Genre: Rock</p>
*    </div>                
* </article>
*
* Éléments : 
* artist__card : Carte de l'artiste
* artist__image : Image de l'artiste
* artist__name : Nom de l'artiste
* artist__desc : Genre de l'artiste
*
* Variantes : 
* artist__card--feature : Carte d'artiste en vedette
* artist__badge : Badge d'artiste en vedette 
*/

.artist {
    display: flex;
    padding: var(--spacing-xxl) 170px;
    flex-direction: column;
    align-items: center;
}

.artist__layout {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: var(--spacing-xl);
    margin-top: var(--spacing-xl);
}

/* Carte d'Artiste - Composante */
.artist__card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1 1 0;

    border-radius: var(--radius-lg);
    border: 2px solid var(--color-primary);
}

/* Contenant de l'image */
.artist__image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.artist__image {
    width: 100%;
    height: 245px;
    background-color: var(--color-image);
}

.artist__image-text {
    position: absolute;
    z-index: 1;
    color: var(--color-black);
    font-size: 12px;
    line-height: 16px; /* 133.333% */
}

/* Contenant en texte */
.artist__content {
    display: flex;
    padding: 12px;
    flex-direction: column;
    flex-grow: 1;
}

.artist__name {
    font-size: var(--font-size-lg);
    font-weight: normal;
    line-height: 24px; /* 100% */
    margin: 0;
}

.artist__desc {
    font-size: var(--font-size-base);
    line-height: 28px; /* 175% */
    margin-top: 0;
}

/* Carte d'Artiste en vedette - Variante */
.artist__card--feature {
    border-radius: var(--radius-lg);
    border: 5px solid var(--color-accent);
    position: relative;  
}

.artist__badge {
    display: flex;
    padding: 7px 18px;

    position: absolute;
    left: 11px;
    top: 12px;

    border-radius: var(--radius-md);
    background: var(--color-accent);

    font-size: 12px;
    line-height: 16px; /* 133.333% */
}

/** 
* ticket - Section de Billets
*
* Utilisation :
* <article class="ticket__card">
*    <div class="ticket__image">
*        <p class="ticket__symbol">...</p>
*    </div>
*    <div class="ticket__content">
*        <h3 class="ticket__name">...</h3>
*        <p class="ticket__price text--bold">...</p>
*    </div>
* </article>
* 
*
* Éléments : 
* ticket__card : Carte de billets
* ticket__image : Frame de l'image
* ticket__symbol : Symbole du frame
* ticket__name : Nom du billet
* ticket__price : Prix du billet
*/

.ticket {
    display: flex;
    padding: var(--spacing-xxl) 170px;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-xxl);

    background: var(--color-primary);
}

.ticket__layout {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-xl);
    align-self: stretch;
}

/* Carte de billets - Composante */
.ticket__card {
    display: flex;
    padding: 12px 0;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.ticket__image {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;
    border-radius: 50px;
    
    background: var(--color-bg-dark);
}

.ticket__symbol {
    display: flex;
    width: 100px;
    justify-content: center;
    font-size: 62.5px;
}

/* Contenu en texte */
.ticket__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ticket__name {
    font-size: var(--font-size-lg);
    font-weight: normal;
}
.ticket__price {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
}


/** 
* partner - Section de Partenaires
*
* Utilisation :
* <article class="partner__card">
*   <img class="partner__image" src="" alt="">
*   <h3 class="partner__name text--black text--center">...</h3>
* </article>
* 
* Éléments : 
* partner__card : Carte de partenaire
* partner__image : Image de partenaire
* partner__name : Nom du partenaire
*/

.partner {
    display: flex;
    padding: var(--spacing-xxl) 170px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-xxl);
}

.partner__title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partner__layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-xl);
    align-self: stretch;
}

.partner__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-lg);
    width: 100%;
}

.partner__image {
    width: 100px;
    height: 100px;
}

.partner__name {
    font-size: var(--font-size-lg);
    font-weight: normal;
}


/** 
* testimony - Section de Témoignage
*
* Utilisation :
* <article class="testimony__card">
*    <img class="testimony__image" src="" alt="">
*    <div class="testimony__content">
*        <h3 class="testimony__name">...</h3>
*        <p class="testimony__desc">...</p>
*    </div>
* </article>
*
* Éléments : 
* testimony__card : Carte de témoignage
* testimony__name : Nom du témoin
* testimony__desc : Commentaire du témoin 
*/

.testimony {
    display: flex;
    padding: var(--spacing-xxl) 170px;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-xxl);
    align-self: stretch;

    background: var(--color-primary);
}

.testimony__title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.testimony__layout {
    display: flex;
    padding: var(--spacing-lg) 0;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--spacing-xl);
    width: 100%;
}

/* Carte de témoignage */
.testimony__card {
    width: 100%;
    display: flex;
    padding: var(--spacing-md);

    border-radius: var(--radius-lg);
    border: 1px solid var(--color-border);
    background: var(--color-white);
}

.testimony__image {
    display: flex;
    width: 100px;
    height: 100px;
    align-items: flex-start;
}

/* Contenant en texte */
.testimony__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding-left: var(--spacing-md);
}

.testimony__name {
    font-size: var(--font-size-lg);
    margin: 0;
}

.testimony__desc {
    font-size: var(--font-size-base);
}


/** 
* contact - Section de Contact
*
* Utilisation :
* <form class="contact__layout">
*   <div class="contact__section">
*       <label class="contact__label text--blue text--medium">...</label>
*       <input class="contact__input" placeholder=""></input>
*   </div>
* </form>
*
* Éléments : 
* contact__section : Section de contact
* contact__label : Libellé du section de contact 
* contact__input : Boîte d'input pour la section de contact
*/

.contact {
    display: flex;
    padding: var(--spacing-xxl) 170px;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-xxl);
    align-self: stretch;
}

.contact__title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-lg);
    width: 100%;
}

.contact__layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--spacing-xl);
    width: 100%;
}

.contact__section {
    display: flex;
    width: 520px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
}

.contact__label {
    font-size: var(--font-size-sm);
    font-weight: 500;
    line-height: 20px; /* 142.857% */
}

.contact__input {
    display: flex;
    padding: var(--spacing-sm) 12px;
    align-items: center;
    gap: 4px;
    align-self: stretch;

    border-radius: var(--radius-lg);
    border: 1px solid var(--color-border);
    background: var(--color-white);
}

.contact__button-container {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.contact__button {
    width: 100%;
    border-radius: var(--radius-xl);
    border: 1px solid var(--color-bg-dark);
}

/* Variante - Bouton Transparent du Contact */
.contact__button--primary {
    background: var(--color-bg-dark);
    color: var(--color-white);
}
/* Variante - Bouton Bleu du Contact */
.contact__button--secondary {
    color: var(--color-text-blue);
    background: var(--color-white);
}

/** 
* Section de Footer
*
* Utilisation :
* <div class="footer__layout">
*    <a class="footer__link text--white" href="#">...</a>
*</div>
* 
* Éléments : 
* footer__link : Liens du footer
*/

.footer { 
    display: flex;
    padding: var(--spacing-xxl) var(--spacing-lg);
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-xl);
    align-self: stretch;

    background: var(--color-bg-dark);
}

.footer__layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-xxl);
}

.footer__link {
    font-size: 13px;
    text-decoration: none;
}
